import { ReactNode } from 'react'

interface {{pascalCase name}}Props {
	children: ReactNode
}

export function {{pascalCase name}} ({ children }:{{pascalCase name}}Props) { 
    return (
        <>
            <h1>{children}</h1>
        </>
    )
}