#about {
    display: flex;
    align-items: center;

    > div {
        transition:
        transform .5s linear .35s,
        opacity .5s linear .35s;
        transform: translateY(70px);
        opacity: 0;
    }

    .title {
        color: rgba(255,255,255,.85);
        font-size: 1.9rem;
        font-weight: 800;
        margin-bottom: 20px;

        > span {
            display: block;
        }
    
        .first-line {
            font-size: 1rem;
            font-weight: 300;
            color: $text-color;
        }
    }

    .career {
        color: $primary-color
    }

    p {

        &::first-letter {
            margin-left: 20px;
        }

        + p {
            margin-top: 25px;
        }
    }

    // Animações após o DOM ser carregado
    &.ready > div {
        opacity: 1;
        transform: translateY(0);
    }
}

@media all and (min-width: 992px) {

    #about {
        flex-direction: row;

        p {
            max-width: 612px;
        }
        
        .title {
            font-size: 2.5rem;
        }
    }
}