@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply overflow-x-hidden tracking-wide leading-normal font-light text-neutral-600 dark:text-slate-400 bg-neutral-100 dark:bg-cyan-950;
}

li {
  @apply list-none;
}

|*::before,
*::after {
  box-sizing: inherit;
}

button {
  @apply cursor-pointer bg-transparent border-0;
}

label {
  @apply cursor-pointer;
}

a:focus-visible,
button:focus,
svg:focus {
  @apply outline-none;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  @apply text-white/85 bg-cyan-950 dark:bg-green-400;
}
