@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased overflow-x-hidden tracking-wide leading-normal font-light text-paragraph-theme bg-secondary-theme;
}

a:focus-visible,
button:focus,
button:focus-visible,
svg:focus {
  @apply outline-none;
}

::selection {
  @apply text-white bg-primary-theme;
}

li {
  @apply list-none;
}
