#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .title {
        color: rgba(255,255,255,.85);
        font-size: 1.9rem;
        font-weight: 800;
        margin-bottom: 20px;

        > span {
            display: block;
            transform: translateY(50px);
            opacity: 0;
        }
    
        .first-line {
            font-size: 1rem;
            font-weight: 300;
            color: $text-color;
            transition:
                transform $animation-time linear .7s,
                opacity $animation-time linear .7s;
        }

        .second-line, .third-line {
            transition: 
                transform $animation-time linear .9s, 
                opacity $animation-time linear .9s;
        }
    }

    .career {
        color: $primary-color
    }

    p {
        text-align: justify;
        max-width: 612px;
        opacity: 0;
        transform: translateY(50px);
        transition: 
            transform $animation-time linear 1.1s,
            opacity $animation-time linear 1.1s;

        &::first-letter {
            margin-left: 20px;
        }

        + p {
            margin-top: 25px;
        }
    }

    // Animações após o DOM ser carregado
    &.ready {

        .title > span {
            transform: translateY(0);
            opacity: 1;
        }

        p {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media all and (min-width: 992px) {

    #about {
        flex-direction: row;
        
        .title {
            font-size: 2.5rem;
        }
    }
}