#header {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px 0;
    background-color: $primary-dark-color;
    text-align: right;
    transition: all .25s linear;

    &.active {
        background-color: lighten($primary-dark-color, 2%);
    }

    .nav {
        display: none;
    }

    a {
        font-weight: 300;
        text-transform: lowercase;
        transition: $transition;

        &:hover {
            color: $primary-color;
        }
    }

    .toggle-menu {

        img {
            height: 30px;
        }
    }
}

@media all and (min-width: 768px) {

    #header {
        padding: 15px 0;

        &.active {
            background-color: lighten($primary-dark-color, 2%);
        }

        .nav {
            display: inline-flex;
            column-gap: 30px;
        }

        .toggle-menu {
            display: none;
        }
    }
}