#header {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px 15px;
    background-color: $primary-dark-color;
    text-align: right;
    transition: top .25s linear;

    &.active {
        background-color: lighten($primary-dark-color, 2%);
    }

    .nav {
        display: none;
    }

    a {
        font-weight: 300;
        text-transform: lowercase;
        transform: translateY(-50px);

        &:hover {
            color: $primary-color;
        }
    }

    .toggle-menu {

        img {
            height: 30px;
        }
    }

    // Animações após o DOM ser carregado
    a:first-child {transition: color .15s linear, transform $animation-time linear};
    a:nth-child(2) {transition: color .15s linear, transform $animation-time linear .1s};
    a:nth-child(3) {transition: color .15s linear, transform $animation-time linear .2s};
    &.ready a {
        transform: translateY(0);
    }
}

@media all and (min-width: 768px) {

    #header {
        padding: 15px 30px;

        &.active {
            background-color: lighten($primary-dark-color, 2%);
        }

        .nav {
            display: inline-flex;
            column-gap: 30px;
        }

        .toggle-menu {
            display: none;
        }
    }
}