#projects {
    padding-top: 50px;

    .project {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        background: darken($primary-dark-color, 2%);
        margin-bottom: 50px;
    }

    .informations {
        padding: 25px;
    }

    .skills {
        color: $primary-color;
        font-size: .9rem;
        margin: 25px 0;
    }

    .image {
        display: block;
        line-height: 0;

        img {
            max-width: 100%;
        }
    }

    .nav {
        display: flex;
        column-gap: 15px;
        align-items: center;
        line-height: 0;
        
        img {
            height: 20px;
            opacity: 0.5;
        }

        a + a img {
            height: 17px;
        }
    }
}

@media all and (min-width: 768px) {

    #projects {

        .project {
            flex-direction: row;

            &:nth-child(odd) {
                flex-direction: row-reverse;
            }
        }

        .informations {
            margin: 0 auto;
            padding: 0 50px;
        }

        .image img {
            max-width: 180px;
        }
    }
}

@media all and (min-width: 992px) {

    #projects {

        .informations {
            padding: 0 100px;
        }

        .image img {
            max-width: 300px;
        }
    }
}