#projects {
    padding-top: 50px;

    h1 {
        text-align: center;
    }

    .project {
        display: flex;
        column-gap: 50px;
        align-items: center;
        justify-content: space-between;
        background: darken($primary-dark-color, 2%);
        margin-bottom: 50px;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }

    .informations {
        margin: 0 auto;
    }

    .topics li {
        display: inline-block;
        color: $primary-color;
        font-size: .9rem;
        
        + li {
            margin-left: 10px;
        }
    }

    img {
        width: 300px;
    }
}