/* Reset */
body, h1 {
    margin: 0;
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

/* Variables */
:root {
    --primary-color: #48E194;
    --primary-dark-color: #00344A;
    --text-color: #7F99A4;
    --transition: all .15s linear;
}

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// General
.container {
    padding: 0 180px 0 180px;
}